@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

.select-green {
    background-color: #B2D3A8 !important;
}

.select-yellow {
    background-color: #E0CA7C !important;
}

.select-red {
    background-color: #CD674C !important;
}

.announcements-header {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: left;    width: 80%;
}

@import "../backend/responsiveTable";
