// FontAwesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
//@import "~@fortawesome/fontawesome-free/scss/brands";
//@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Overrides
@import "overrides";


// Header Styles
.demo, .logged-in-as {
  margin: 0 !important;
  border-radius: 0 !important;
}

a{
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
    .main .container-fluid {
        padding: 0px 5px!important;
    }
}

.card-header {
    background-color: #5fc2ed !important;
}

.dash-btn {
    display: block;
}

@import "overrides";
